<%
  const logoVariant = typeof variant === 'string' ? variant : 'full';
  const logoClassName = typeof className === 'string' ? className : '';
  const logoLabel = typeof label === 'string' ? label : 'DRAGONFLY';
  const isDecorativeLogo = typeof decorative !== 'undefined' && decorative === true;

  const logoSrc = '/icons/figma/logo.svg';
  const logoSymbolSrc = '/icons/figma/logo-symbol.svg';

  const baseAttrs = isDecorativeLogo
    ? 'aria-hidden="true"'
    : `role="img" aria-label="${logoLabel.replace(/&/g, '&amp;').replace(/"/g, '&quot;').replace(/</g, '&lt;').replace(/>/g, '&gt;')}"`;
%>

<% if (logoVariant === 'symbol') { %>
  <span
    class="relative block h-[46px] w-auto shrink-0 overflow-hidden lg:h-[62px] <%= logoClassName %>"
    data-node-id="38:128"
    data-name="Logo-Symbol"
    <%- baseAttrs %>
  >
    <img
      src="<%= logoSymbolSrc %>"
      alt="<%= isDecorativeLogo ? '' : logoLabel %>"
      class="block h-full w-auto max-w-none"
      loading="eager"
      decoding="async"
    >
  </span>
<% } else if (logoVariant === 'mobile') { %>
  <span
    class="relative block h-[62px] w-auto shrink-0 overflow-hidden lg:h-[78px] <%= logoClassName %>"
    data-name="Logo-Mobile"
    <%- baseAttrs %>
  >
    <img
      src="<%= logoSrc %>"
      alt="<%= isDecorativeLogo ? '' : logoLabel %>"
      class="block h-full w-auto max-w-none"
      loading="eager"
      decoding="async"
    >
  </span>
<% } else { %>
  <span
    class="relative block h-[62px] w-auto shrink-0 overflow-hidden lg:h-[78px] <%= logoClassName %>"
    data-node-id="109:593"
    data-name="Logo"
    <%- baseAttrs %>
  >
    <img
      src="<%= logoSrc %>"
      alt="<%= isDecorativeLogo ? '' : logoLabel %>"
      class="block h-full w-auto max-w-none"
      loading="eager"
      decoding="async"
    >
  </span>
<% } %>
